<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Log Analyzer</title>
    <link href="{{url_for('static', filename='styles/style.css')}} " rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Chat Log Analyzer</h1>
        <input type="file" id="fileInput">
        <button onclick="analyzeChatLog()">Analyze Chat Log</button>
        <div id="results"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
